services:
  - type: web
    name: chat-backend
    env: node
    plan: free
    buildCommand: npm install
    startCommand: node server.js
    envVars:
      - key: PORT
        value: 5000
      - key: MONGO_URI
        sync: false
      - key: JWT_SECRET
        sync: false
      - key: CLIENT_URL
        fromService:
          type: static
          name: chat-frontend
          property: url

staticSites:
  - name: chat-frontend
    buildCommand: npm install && npm run build
    publish: dist
    plan: free
    routes:
      - type: rewrite
        source: /*
        destination: /index.html
    envVars:
      - key: VITE_API_URL
        fromService:
          type: web
          name: chat-backend
          property: url
